<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript" th:src="@{/js/start-page-filters.js}"></script>
    <style>
        .pointer {
            cursor: pointer;
        }
        .report-sub-type{
            padding-left: 2rem !Important;
            color: gray;
        }
    </style>
</head>

<div th:fragment="filters">

    <!-- Report Types -->
    <div class="card my-4">
        <h4 class="card-header">Типы отчетов</h4>
        <div class="list-group">
            <a th:each="reportType: ${reportTypes}"
               th:text="${reportType.name}" class="list-group-item list-group-item-action pointer" th:id="'reportType-'+${reportType.id}"
               onclick="reportTypeIsChanged(this)">
            </a>

            <a class="list-group-item list-group-item-action pointer dropdown-toggle" data-bs-toggle="collapse" href="#collapsePoverki" role="button" aria-expanded="false" aria-controls="collapsePoverki">
                Поверки
            </a>
            <div class="collapse" id="collapsePoverki">
                <a onclick="reportTypeIsChanged(this)" class="list-group-item list-group-item-action pointer report-sub-type" id="reportType-mi3622">МИ3622</a>
                <a onclick="reportTypeIsChanged(this)" class="list-group-item list-group-item-action pointer report-sub-type" id="reportType-mi3272">МИ3272</a>
            </div>

            <a class="list-group-item list-group-item-action pointer dropdown-toggle" data-bs-toggle="collapse" href="#collapseActs" role="button" aria-expanded="false" aria-controls="collapseActs">
                Акты
            </a>
            <div class="collapse" id="collapseActs">
                <a onclick="reportTypeIsChanged(this)" class="list-group-item list-group-item-action list-group-item-action pointer report-sub-type" id="reportType-acceptanceAct">Акты приема-сдачи</a>
            </div>

            <a class="list-group-item list-group-item-action pointer dropdown-toggle" data-bs-toggle="collapse" href="#collapseKmh" role="button" aria-expanded="false" aria-controls="collapseKmh">
                КМХ
            </a>
            <div class="collapse" id="collapseKmh">
                <a onclick="reportTypeIsChanged(this)" class="list-group-item list-group-item-action pointer report-sub-type" id="reportType-kmhViscometer">КМХ преобразователя вязкости по вискозиметру</a>
                <a onclick="reportTypeIsChanged(this)" class="list-group-item list-group-item-action pointer report-sub-type" id="reportType-kmhMoisturemeter">КМХ рабочего и резервного влагомеров по лабораторным измерениям</a>
                <a onclick="reportTypeIsChanged(this)" class="list-group-item list-group-item-action pointer report-sub-type" id="reportType-kmhMassmByMassm">КМХ рабочего МПР по контрольному</a>
                <a onclick="reportTypeIsChanged(this)" class="list-group-item list-group-item-action pointer report-sub-type" id="reportType-kmhMassmByPu">КМХ контрольного МПР с помощью ПУ</a>
                <a onclick="reportTypeIsChanged(this)" class="list-group-item list-group-item-action pointer report-sub-type" id="reportType-kmhDensityMeter">КМХ ПП по ареометру</a>
            </div>
        </div>
    </div>

    <!-- Date -->
    <div>
        <label for="datePicker">Выберите дату:</label>
        <input type="date" id="datePicker" onchange="dateIsChanged(this)"/>
    </div>

    <!-- Reports -->
    <div class="card my-4">
        <h5 class="card-header">Отчеты</h5>
        <div class="list-group" th:if="${reports} == null">
            <a class="list-group-item disabled">Нет отчетов для отображения.<br>Выберите тип отчета и/или дату</a>
        </div>
        <div class="list-group" th:if="${reports} != null and ${#lists.size(reports)} == 0">
            <a class="list-group-item disabled">Нет отчетов, удовлетворяющих фильтрам</a>
        </div>
        <div class="list-group" id="reports">
            <a th:each="report: ${reports}"
               th:text="${report.name}" th:onclick="|getReportData(this,'${report.id}')|"
               class="list-group-item list-group-item-action pointer"></a>
        </div>
    </div>
</div>

<body>

</body>
</html>
