<!DOCTYPE>
<html lang="en">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/images/logo-GKS-title.png" type="image/x-icon">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/external_libraries/bootstrap-5.2.3-dist/bootstrap.min.css}">

    <!-- jQuery library -->
    <script th:src="@{/external_libraries/jquery-3.6.3.min.js}"></script>

    <!-- Latest compiled JavaScript -->
    <script th:src="@{/external_libraries/bootstrap-5.2.3-dist/bootstrap.bundle.min.js}"></script>
</head>
<body>

</body>
</html>