<!DOCTYPE>
<html lang="en">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Отчетная система</title>

    <link rel="icon" href="/images/logo-GKS-title.png" type="image/x-icon">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/library/bootstrap-5.2.3-dist/bootstrap.min.css}">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->

    <!-- jQuery library -->
    <script th:src="@{/library/jquery-3.6.3.min.js}"></script>

    <!-- Latest compiled JavaScript -->
    <script th:src="@{/library/bootstrap-5.2.3-dist/bootstrap.bundle.min.js}"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"-->
<!--            crossorigin="anonymous"></script>-->
</head>
<body>

</body>
</html>