<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <style>
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.submenu-main').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        function getAppInfo(){
            fetch("/info", {
                    method: 'GET',
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8',
                    }
                }
            )
                .then(response => {
                    return response.json()
                })
                .then(json => {
                    $("#app-version").text(json.version);
                    $("#app-crc").text(json.crc);
                })
        }
    </script>

</head>
<body>
<nav th:fragment="nav" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/images/logo-GKS-nav.png" alt="" width="30" height="45">НПП ГКС
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" id="editTagsDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Редактор таблиц
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="editTagsDropdown">
                        <li class="dropdown-submenu dropend">
                            <a tabindex="-1" class="submenu-main dropdown-item dropdown-toggle">Отчеты по расписанию</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1"
                                       th:href="@{/admin/scheduled-tables-editor/tags}">Теги</a></li>
                                <li><a class="dropdown-item" tabindex="-1"
                                       th:href="@{/admin/scheduled-tables-editor/report-types}">Типы отчетов</a></li>
                                <li><a class="dropdown-item" tabindex="-1"
                                       th:href="@{/admin/scheduled-tables-editor/report-rows}">Строки в отчете</a></li>
                                <li><a class="dropdown-item" tabindex="-1"
                                       th:href="@{/admin/scheduled-tables-editor/metering-nodes}">Узлы учета</a></li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/admin/manual-tags-editor}" class="dropdown-item">Теги для поверок, актов, кмх</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin/opcServer}" class="nav-link">OPC сервер</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin/settings}" class="nav-link">Настройки</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right dropdown-menu-end">
                <li class="nav-item dropdown">
                    <a onclick="getAppInfo()" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/info-circle.png" alt="" width="35" height="35">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" style="padding: 0; border: 0">
                        <div class="card" style="width: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title">ReportViz</h5>
                                <p class="card-text">Версия:
                                    <span id="app-version"></span>
                                    <br>CRC: <span id="app-crc"></span></p>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item"><a sec:authorize="isAnonymous()" th:href="@{/login}" class="nav-link"> Войти</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a sec:authentication="name" class="nav-link dropdown-toggle" id="userDropdownLabel" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownLabel">
                        <li>
                            <a th:href="@{/user/updatePassword}" class="dropdown-item">Поменять пароль</a>
                        </li>
                        <li>
                            <a th:href="@{/logout}" class="dropdown-item">Выйти</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>