<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <style>
        #userDropdown li:hover ul{
            left:auto;
            right:0;
            margin-right:-10px;
        }
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    </style>
    <script>
        $(document).ready(function(){
            $('.dropdown-submenu a.test').on("click", function(e){
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>

</head>
<body>
<nav th:fragment="nav" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/images/logo-GKS-nav.png" alt="" width="30" height="45">НПП ГКС
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link active" aria-current="page" href="#">Home</a>-->
                <!--          </li>-->

                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" id="editTagsDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Редактор таблиц
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="editTagsDropdown">
                        <li class="dropdown-submenu dropend">
                            <a tabindex="-1" class="test dropdown-item dropdown-toggle">Оперативные отчеты</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" th:href="@{/admin/operative-tables-editor/tag-names}">Теги</a></li>
                                <li><a class="dropdown-item" tabindex="-1" th:href="@{/admin/operative-tables-editor/report-types}">Типы отчетов</a></li>
                                <li><a class="dropdown-item" tabindex="-1" th:href="@{/admin/operative-tables-editor/report-rows}">Строки в отчете</a></li>
                                <li><a class="dropdown-item" tabindex="-1" th:href="@{/admin/operative-tables-editor/metering-nodes}">Узлы учета</a></li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/admin/calc-tag-name-editor}" class="dropdown-item">Теги для поверок</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin/settings}" class="nav-link">Настройки</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/opcService/opcServer}" class="nav-link">OPC сервер</a>
                </li>
                <!--          <li class="nav-item" sec:authorize="hasRole('ADMIN')">-->
                <!--            <a th:href="@{/admin/tagName/new}" class="nav-link">Create new tag</a>-->
                <!--          </li>-->
            </ul>
            <ul class="navbar-nav navbar-right dropdown-menu-end" id="userDropdown">
                <li class="nav-item"><a sec:authorize="isAnonymous()" th:href="@{/login}" class="nav-link"> Войти</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a sec:authentication="name" class="nav-link dropdown-toggle" id="userDropdownLabel" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownLabel">
                        <li>
                            <a th:href="@{/user/updatePassword}" class="dropdown-item">Поменять пароль</a>
                        </li>
                        <li>
                            <a th:href="@{/logout}" class="dropdown-item">Выйти</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>