<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<zing-grid caption="Таблица report_type" src="/api/reportTypes/" lang="ru" editor="false" columns-control>
    <zg-column editor=false index="id" header="ID"></zg-column>
    <zg-column editor=false index="name" header="Название"></zg-column>
    <zg-column index="description" header="Описание"></zg-column>
    <zg-column index="active" header="Активный"></zg-column>
</zing-grid>
</body>
</html>