<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<zing-grid caption="Строки в отчете" src="/api/reportRows/" lang="ru" editor="false" editor-controls columns-control search sort>
    <zg-column index="name" header="Название cтроки"></zg-column>
    <zg-column index="order" type="number" header="Порядок"></zg-column>
    <zg-column id="reportTypes" index="reportTypeName" header="Тип отчета" type="select"
               th:type-select-options="${reportTypes}"></zg-column>
</zing-grid>
</body>
</html>