<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="filters.html :: header">

    <title id="pageTitle">Edit Post</title>

</head>



<body>

<!-- Navigation -->
<nav    th:insert="filters.html :: navigation"
        class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <div class="form-group">

                <h1 class="mt-4">404 Page Not Found</h1>

            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div th:insert="filters.html :: widget" class="col-md-4">
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
