<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header"></head>
<head>
  <title>Редактор тегов</title>
  <script src="https://cdn.zinggrid.com/zinggrid.min.js" defer></script>
</head>
<body>
<nav th:replace="fragments/nav"></nav>

<div class="container">
  <div class="row justify-content-center">
    <div id="tag-names">
      <zing-grid caption="Теги поверок" src="/calcTagNames/" lang="ru" editor-controls="editor"
                 columns-control search sort>
        <zg-column editor=false index="permanentName" header="Закрепленное название в коде"></zg-column>
        <zg-column index="name" header="Название"></zg-column>
        <zg-column index="description" header="Описание"></zg-column>
        <zg-column editor=false index="type" header="Тип"></zg-column>
      </zing-grid>
    </div>
  </div>
</div>

</body>
</html>