<html>
<head th:replace="fragments/header"></head>
<body>

<div class="container">
    <div class="form-signin">
        <h2 class="form-signin-heading">Изменение пароля</h2>
        <p>
            <label for="old-password" class="sr-only">Текущий пароль</label>
            <input type="password" id="old-password" name="old-password" class="form-control" placeholder="Старый пароль" required="">
        </p>
        <p>
            <label for="password" class="sr-only">Новый пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Новый пароль" required="">
        </p>
        <p>
            <label for="confirm-password" class="sr-only">Новый пароль еще раз</label>
            <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Подтвердите новый пароль" required="">
        </p>
        <div id="message" class="alert alert-danger" style="display:none" role="alert"></div>
        <button class="btn btn-lg btn-primary btn-block" onclick="savePass()" type="submit">Изменить</button>
    </div>
</div>

<script type="text/javascript" src="/js/change-password.js"></script>

</body>
</html>