<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<!--<div id="errormsg"></div>-->
<div class="container">
    <div class="form-signin">
        <h2 class="form-signin-heading">Изменение пароля</h2>
        <p>
            <label for="old-password" class="sr-only">Текущий пароль</label>
            <input type="password" id="old-password" name="old-password" class="form-control" placeholder="Старый пароль" required="">
        </p>
        <p>
            <label for="password" class="sr-only">Новый пароль</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Новый пароль" required="">
        </p>
        <p>
            <label for="confirm-password" class="sr-only">Новый пароль еще раз</label>
            <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Подтвердите новый пароль" required="">
        </p>
        <div id="message" class="alert alert-danger" style="display:none" role="alert"></div>
        <button class="btn btn-lg btn-primary btn-block" onclick="savePass()" type="submit">Изменить</button>
    </div>
</div>
<!--<div>-->
<!--    <input id="oldpass" name="oldpassword" type="password" placeholder="Old password" class="form-control"/>-->
<!--    <input id="pass" name="password" type="password" placeholder="New password" class="form-control"/>-->
<!--    <input id="passConfirm" type="password" placeholder="Confirm new password" class="form-control"/>-->
<!--&lt;!&ndash;    <span id="error" style="display:none">Password mismatch</span>&ndash;&gt;-->

<!--    <button type="button" onclick="savePass()" class="btn btn-primary">Change Password</button>-->
<!--</div>-->

<script type="text/javascript" src="/js/change-password.js"></script>

</script>
</body>
</html>