<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title id="pageTitle">Edit manual tag name table</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/edit-manual-tag-name-table.js}"></script>
    <style>
        table {
            border-collapse: collapse;
        }

        td {
            position: relative;
            padding: 5px 10px;
        }

        tr.strikeout td:before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 0;
            border-bottom: 1px solid #111;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <button type="submit" class="btn btn-primary" onclick="saveChangedTagNames()">Save</button>
            <table id = "tag-name-table" class="table table-borderless">
                <thead class="table-light" style="font-weight: bold">
                <tr>
                    <td>Permanent name</td>
                    <td>Tag name</td>
                    <td>Description</td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="tagName: ${tagNames}" th:id="${tagName.id}">
                    <td class="align-middle"><span th:text = "${tagName.permanentName}" class="permanent-name"></span></td>
                    <td class="align-middle"><input type="text" th:value = "${tagName.name}" onchange="tagNameIsChanged(this)" class="name" onfocus="writeInitialValue(this)" style="border: 0"/></td>
                    <td class="align-middle"><input type="text" th:value = "${tagName.description}" onchange="tagNameIsChanged(this)" class="description" onfocus="writeInitialValue(this)" style="border: 0"/></td>
                    <td class="align-middle"><span th:text = "${tagName.type}" class="type"></span></td>
                    <td class="align-middle">
                        <button class="btn btn-danger" onclick="strikeoutRow(this)">X</button>
                    </td>
                    <td class = "response" width="100"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>