<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title id="pageTitle">Edit tag name table</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

    <script type="text/javascript" th:src="@{/js/edit-tag-name-table.js}"></script>
    <style>
        table {
            border-collapse: collapse;
        }
        body {
            padding-top: 70px;
        }
        td {
            position: relative;
            padding: 5px 10px;
        }
        textarea {
            width: 250px;
            border: none;
            resize: none;
        }

        tr.highlight-red td.main-col, tr.highlight-red td.main-col * {
            color: black;
            background-color: lightcoral;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light fixed-top">
        <form class="container-fluid justify-content-start">
            <button type="button" class="btn btn-outline-success me-2" onclick="saveChangedTagNames()">Сохранить</button>
            <button type="button" class="btn btn-outline-success me-2" onclick="createNewRow()">+ новый тег</button>
        </form>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
            <!-- Post Content Column -->
                <table id = "tag-name-table" class="table">
                    <thead class="table-light" style="font-weight: bold">
                        <tr>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Report type</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>

                    <tbody id="tag-name-tbody">
                        <tr id="hidden-tag-name-row" class="tag-name-row" style="display: none;">
                            <td class="align-middle main-col"><textarea class="name" rows="1"></textarea></td>
                            <td class="align-middle main-col"><textarea class="description"></textarea></td>
                            <td class="align-middle main-col">
                                <select class = "report-type" style="border: 0">
                                    <li th:each="reportType: ${reportTypes}">
                                        <option th:value = "${reportType.id}" th:text = "${reportType.name}">
                                        </option>
                                    </li>
                                </select>
                            </td>
                            <td class="align-middle" style='width:100px;border:none;'>
                                <button class="btn btn-danger delete-button" onclick="deleteTagNameRow(this.parentElement.parentElement)">X</button>
                            </td>
                            <td style='width:100px;border:none;'><p class = "response"></p></td>
                        </tr>
                        <tr th:each="tagName: ${tagNames}" th:id="${tagName.id}" class="tag-name-row">
                            <td class="align-middle main-col">
                                <textarea th:text = "${tagName.name}" onchange="tagNameIsChanged(this)" class="name" onfocus="writeInitialValue(this)"></textarea>
                            </td>
                            <td class="align-middle main-col">
                                <textarea th:text = "${tagName.description}" onchange="tagNameIsChanged(this)" class="description" onfocus="writeInitialValue(this)"></textarea>
                            </td>
                            <td class="align-middle main-col">
                                <select class = "report-type"
                                        onchange="tagNameIsChanged(this)" onfocus="writeInitialValue(this)" style="border: 0">
                                    <li th:each="reportType: ${reportTypes}">
                                        <option th:value = "${reportType.id}" th:text = "${reportType.name}"
                                                th:selected="${reportType.id} == ${tagName.reportTypeId}">
                                        </option>
                                    </li>
                                </select>
                            </td>
                            <td class="align-middle" style='border:none;'>
                                <button class="btn btn-outline-danger me-2" onclick="highlightRow(this)">X</button>
                            </td>
                            <td style='width:100px;border:none;'>
                                <p class = "response"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>