<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="header">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:include=":: #pageTitle" th:text="${post?.title}">
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/resources/css/blog-home.css}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
            var contextPath = [[@{/}]];
    </script>
    <script type="text/javascript" th:src="@{/js/load-tag-data.js}"></script>
    <script type="text/javascript" th:src="@{/js/change-report-name.js}"></script>


</head>

<div th:fragment="navigation" class="container">
<!--    <a class="navbar-brand" th:href="@{/}">Spring Blog</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"-->
<!--            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--            <li sec:authorize="hasRole('USER')" class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/post/new}">New Post</a>-->
<!--            </li>-->
<!--            <li sec:authorize="!isAuthenticated()" class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/sign-in}">Sign in</a>-->
<!--            </li>-->
<!--            <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/sign-out}">Sign out</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</div>

<div th:fragment="widget">

    <!-- Search Widget -->
<!--    <div class="card my-4">-->
<!--        <h5 class="card-header">Search</h5>-->
<!--        <div class="card-body">-->
<!--            <form method="GET" th:action="@{/}">-->
<!--&lt;!&ndash;                <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="text" class="form-control" placeholder="Search for..." name="q">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn btn-secondary" type="submit">Go!</button>&ndash;&gt;-->
<!--&lt;!&ndash;                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

    <!-- ReportType Widget -->
            <div class="card my-4">
                <h5 class="card-header">Report Types</h5>
                <div class="list-group">
                    <a th:each="reportType: ${reportTypes}" th:href="@{http://localhost:8080/startPage/reportName/{reportTypeId}(reportTypeId=${reportType.id})}"
                       th:text="${reportType.name}" onclick="selectReportType(this)" class="list-group-item">
                    </a>
                </div>
            </div>



    <form th:action="@{/reportName/reportTypeId}" method="get">
        <div>
            <label for="reportNameDate">Pick the date:</label>
            <input type="date" id="reportNameDate"/>
        </div>
    </form>
    <!-- ReportName Widget -->
    <div class="card my-4">
        <h5 class="card-header">Report Names</h5>
        <div class="list-group" id="reportNames">
            <a th:each="reportName: ${reportNames}" href="#"
               th:text="${reportName.name}" th:onclick="|getTagData('${reportName.id}')|"></a>
        </div>
    </div>
</div>


<!--<footer th:fragment="footer" class="py-5 bg-dark">-->
<!--    <div class="container">-->
<!--        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>-->
<!--    </div>-->
<!--</footer>-->

<body>

</body>
</html>
