<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="header">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Отчетная система</title>

    <link rel = "icon" href = "/images/logo-GKS-title.png" type = "image/x-icon">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/load-tag-data.js}"></script>
    <script type="text/javascript" th:src="@{/js/change-report-name.js}"></script>
    <style>
        .pointer {
            cursor: pointer;
        }
    </style>

</head>
<div th:fragment="filters">
    <!-- Report Types -->
    <div class="card my-4">
        <h4 class="card-header">Типы отчетов</h4>
        <div class="list-group">
            <a th:each="reportType: ${reportTypes}"
               th:text="${reportType.name}" class="list-group-item pointer" th:id="'reportType-'+${reportType.id}"
               onclick="reportTypeIsChanged(this)">
            </a>
            <a onclick="reportTypeIsChanged(this)" class="list-group-item pointer" id="reportType-poverki">Поверки</a>
        </div>
    </div>
    <!-- Date -->
    <div>
        <label for="datePicker">Выберите дату:</label>
        <input type="date" id="datePicker" onchange="dateIsChanged(this)"/>
    </div>
    <!-- Report Names -->
    <div class="card my-4">
        <h5 class="card-header">Отчеты</h5>
        <div class="list-group" id="reportNames">
            <a th:each="reportName: ${reportNames}"
               th:text="${reportName.name}" th:onclick="|getTagData(this,'${reportName.id}')|"
               class="list-group-item pointer"></a>
        </div>
    </div>
</div>


<!--<footer th:fragment="footer" class="py-5 bg-dark">-->
<!--    <div class="container">-->
<!--        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>-->
<!--    </div>-->
<!--</footer>-->

<body>

</body>
</html>
