<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title id="pageTitle">New tag name</title>

</head>

<script type="text/javascript" th:src="@{/js/create-new-tag-name.js}"></script>



<body>

<!-- Page Content -->
<div class="container">

    <div id="responses">
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div id = "tag-name-forms">
                <div class="form-group" id = "tag-name-form">
                    <input name="title"
                           class="form-control form-control-lg mt-4 name"
                           type="text" placeholder="TagName"/>
                    <input name="tags"
                           class="form-control description"
                           type="text" placeholder="Description"/>
                    <select class = "report-type form-select" id = "report-type-select">
                        <li th:each="reportType: ${reportTypes}">
                            <option th:value = "${reportType.id}" th:text = "${reportType.name}"></option>
                        </li>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-secondary" onclick="createTagNameForm()">new tag</button>
    <button type="submit" class="btn btn-primary" onclick="sendTagNames()">Submit</button>

</div>

</body>

</html>
