<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>

</head>
<body>

<table>
    <tr>
        <th>Имя тега:</th>
        <th>Данные:</th>
    </tr>
    <tr th:each="data: ${tagdata}">
        <td th:text="${data.tagName}"></td>
        <td th:text="${data.data}"></td>
    </tr>
</table>

</body>
</html>