<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header"></head>
<head>
  <title>Отчетная система</title>
  <script type="text/javascript" th:src="@{/js/start-page-filters.js}"></script>
  <script type="text/javascript" th:src="@{/js/start-page.js}"></script>
  <script type="text/javascript" th:src="@{/js/print-content.js}"></script>
  <style>
    .sidenav{
      height: 100%;
    }
    .main-container {
      margin-top: 4rem!important;
    }
    table{
      table-layout: fixed;
      width: 100%;
    }
  </style>
</head>
<body>

  <nav th:replace="fragments/nav"></nav>
  <div class="main-container container">
    <div class="row content" style="height: 1500px">
      <div th:insert="fragments/filters" class="col-sm-3 sidenav"></div>
      <div class="col-sm-9">
        <div class="card my-4">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <button type="button" onclick="printContent()" class="btn btn-primary">Печать</button>
              </div>
            </div>
          </div>
          <div class="card-body" id="report-content"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
