<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/header"></head>
<head>
    <script type="text/javascript" th:src="@{/js/acceptance-oil-act.js}"></script>

    <!--  sweetAlert library-->
    <script th:src="@{/external_libraries/sweetalert/sweetalert2.min.js}"></script>
    <link th:href="@{/external_libraries/sweetalert/sweetalert2.min.css}" rel="stylesheet">
</head>
<body>
<div class="card">
    <div th:if="${printSaveButtonsRequired}">
        <div class="card-header" th:replace="fragments/print-save-buttons"></div>
    </div>
    <div class="card-body" id="report-content">
        <!-- Здесь head внутри div, чтобы при печати отчета сохранялось форматирование bootstrap-->
        <head th:replace="fragments/header"></head>
        <head>
            <style>
                .footer-table {
                    padding-right: 1rem;
                    white-space: break-spaces;
                    border-collapse: separate;
                    border-spacing: 0;
                }

                .footer-label {
                    border-top: 1px solid #000;
                    text-align: center;
                    font-size: 0.5rem;
                    padding-top: 0 !important;
                }

                .first-col {
                    padding-left: 0;
                }

                .level-2 {
                    padding-left: 4em;
                }

                .level-3 {
                    padding-left: 8em;
                }

                .report-body p {
                    margin-bottom: 0;
                }

                .td-center-bottom {
                    vertical-align: bottom;
                    text-align: center;
                }

                .report-body, .report-body table, .report-body td {
                    font-size: 0.6rem;
                }

                .report-body td {
                    width: auto;
                    padding: 0.1rem;
                    vertical-align: middle;
                    text-align: center;
                    overflow: hidden;
                }

                .report-body table {
                    padding: 0.15rem 0.15rem !Important;
                }

                .report-body h6 {
                    margin-bottom: 0;
                }
            </style>
        </head>
        <body>
        <div class="container report-body">
            <div class="row">
                <h6 style="text-align: center;">Акт приема-сдачи нефти №<span
                        th:text="${acceptanceActNumber}"></span>
                    от <span th:text="${acceptanceActDate}"></span>г. (сдача по СИКН)
                </h6>
                <p style="text-align: center;" class="mb-3">(для оформления валовых объемов нефти)</p>
                <div class="col-sm-12">
                    <div class="container mb-2">
                        <div class="row">
                            <div class="col-6 first-col">
                                Пункт приема-сдачи нефти:
                            </div>
                            <div class="col">
                                <u th:text="${oilAcceptancePoint}"></u>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 first-col"> Предприятие (владелец) ПСП:</div>
                            <div class="col"><u th:text="${pointOwner}"></u></div>
                        </div>
                        <div class="row">
                            <div class="col-6 first-col">СИКН:</div>
                            <div class="col"><u th:text="${SIKN}"></u></div>
                        </div>
                    </div>
                    <p>Уполномоченный представитель сдающей стороны <u th:text="${deliverOrg}"></u>, <u
                            th:text="${deliverNameTitle}"></u> (Фамилия И.О.)
                        действующий на основании доверенности от <u th:text="${deliverProxyDate}"></u> №<u
                                th:text="${deliverProxyNumber}"></u> сдал, а
                        Уполномоченный представитель принимающей стороны <u th:text="${receiverOrg}"></u>, <u
                                th:text="${receiverNameTitle}"></u> (Фамилия И.О.)
                        действующий на основании доверенности от <u th:text="${receiverProxyDate}"></u> №<u
                                th:text="${receiverProxyNumber}"></u> принял
                        нефть следующего количества и качества:</p>
                    <table id="tag-name-table" class="table table-sm table-bordered table-striped">
                        <thead class="table-light"
                               style="
                                font-weight: bold;
                                text-align: center;
                                vertical-align: middle;">
                        <tr>
                            <td rowspan="2">Показатели</td>
                            <td rowspan="2">Ед. изм.</td>
                            <td th:colspan="${colNum}">Дата, смена</td>
                            <td rowspan="2">Итого за сутки</td>
                        </tr>
                        <tr>
                            <td th:each="value, i : ${dtStart_shiftn}" class="td-center-bottom">
                                <p th:text="${dtStart_shiftn[i.index]}" class="shifts-start-dt"></p>
                                <p th:text="${dtEnd_shiftn[i.index]}" class="shifts-end-dt"></p>
                            </td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${dtStart_shiftn == null}"
                                class="td-center-bottom" contenteditable='true'>
                                <p class="shifts-start-dt">dd.MM.yyyy hh:mm</p>
                                <p class="shifts-end-dt">dd.MM.yyyy hh:mm</p>
                            </td>
                        </tr>
                        </thead>
                        <tbody id="tag-name-tbody">
                        <tr>
                            <td>
                                <p>Результаты измерений СИКН(показания СОИ или ВА):</p>
                                <p class="level-2">на время окончания предыдущей сдачи:</p>
                                <p class="level-3">объем</p>
                            </td>
                            <td class="td-center-bottom">м<sup>3</sup></td>
                            <td th:each="value : ${prevEndVol_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${prevEndVol_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="level-3">масса</p>
                            </td>
                            <td class="td-center-bottom">т</td>
                            <td th:each="value : ${prevEndMass_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${prevEndMass_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="level-2">на момент завершения текущей сдачи:</p>
                                <p class="level-3">объем</p>
                            </td>
                            <td class="td-center-bottom">м<sup>3</sup></td>
                            <td th:each="value : ${currentEndVol_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${currentEndVol_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="level-3">масса</p>
                            </td>
                            <td class="td-center-bottom">т</td>
                            <td th:each="value : ${currentEndMass_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${currentEndMass_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <p>Масса нефти брутто:</p>
                                <p class="level-3">объем</p>
                            </td>
                            <td class="td-center-bottom">м<sup>3</sup></td>
                            <td th:each="value : ${grossOilVol_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${grossOilVol_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td th:text="${oilVolSum}" class="td-center-bottom"></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="level-3">масса</p>
                            </td>
                            <td class="td-center-bottom">т</td>
                            <td th:each="value : ${grossOilMass_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${grossOilMass_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td th:text="${oilMassSum}" class="td-center-bottom"></td>
                        </tr>
                        <tr>
                            <td>Температура нефти при условиях измерений объема</td>
                            <td class="td-center-bottom">ºC</td>
                            <td th:each="value : ${oilTemp_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${oilTemp_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Давление нефти при условиях измерений объема</td>
                            <td class="td-center-bottom">МПа</td>
                            <td th:each="value : ${oilPressure_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${oilPressure_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Плотность нефти при температуре и давлении при условиях измерений объема</td>
                            <td class="td-center-bottom">кг/м³</td>
                            <td th:each="value : ${oilDensity_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${oilDensity_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Поправка на плотность *)</td>
                            <td class="td-center-bottom">кг/м³</td>
                            <td th:each="value : ${correctionForDensity_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${correctionForDensity_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>№ паспорта качества нефти</td>
                            <td></td>
                            <td th:each="value : ${oilPassportNumber_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${oilPassportNumber_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Массовая доля балласта всего</td>
                            <td class="td-center-bottom">%</td>
                            <td th:each="value : ${massFractionBallast_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${massFractionBallast_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="level-2">в том числе:</p>
                                <p class="level-3">воды</p>
                            </td>
                            <td class="td-center-bottom">%</td>
                            <td th:each="value : ${massFractionWater_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${massFractionWater_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="level-3">хлористых солей</p>
                            </td>
                            <td class="td-center-bottom">%</td>
                            <td th:each="value : ${massFractionChlorideSalt_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${massFractionChlorideSalt_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="level-3">мех.примесей</p>
                            </td>
                            <td class="td-center-bottom">%</td>
                            <td th:each="value : ${massFractionAdmixture_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${massFractionAdmixture_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Массовая доля серы</td>
                            <td class="td-center-bottom">%</td>
                            <td th:each="value : ${massFractionSulfur_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${massFractionSulfur_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Концентрация хлористых солей</td>
                            <td class="td-center-bottom">мг/дм³</td>
                            <td th:each="value : ${concentrationChlorideSalt_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${concentrationChlorideSalt_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Масса балласта</td>
                            <td class="td-center-bottom">т</td>
                            <td th:each="value : ${ballastMass_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${ballastMass_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td th:text="${ballastMassSum}" class="td-center-bottom"></td>
                        </tr>
                        <tr>
                            <td>Масса нефти нетто</td>
                            <td class="td-center-bottom">т</td>
                            <td th:each="value : ${oilNetMass_shiftn}" th:text="${value}"
                                class="td-center-bottom"></td>
                            <td th:each="i:${#numbers.sequence(1, colNum)}"
                                th:if="${oilNetMass_shiftn == null}"
                                class="td-center-bottom"></td>
                            <td th:text="${oilNetMassSum}" class="td-center-bottom"></td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="mt-3">Масса нефти нетто (прописью): <u th:text="${oilNetMassInWords}"></u></p>
                    <p>Обозначение нефти по ГОСТ Р 51858-2002: <u th:text="${GOST}"></u></p>
                    <table class="mt-2 table table-borderless footer-table" style="width: 70%">
                        <tbody>
                        <tr>
                            <td class="pb-0" style="text-align: left">Представитель сдающей стороны:</td>
                            <td style="width: 20px"></td>
                            <td class="pb-0" th:text="${deliverOrg}" style="text-align: center"></td>
                            <td style="width: 20px"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="footer-label pt-0">предприятие</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="pb-0" th:text="${deliverNameFooter}" style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="footer-label pt-0">подпись</td>
                            <td></td>
                            <td class="footer-label pt-0">И.О. Фамилия</td>
                        </tr>
                        <tr>
                            <td class="pb-0" style="text-align: left">Представитель принимающей стороны:</td>
                            <td style="width: 20px"></td>
                            <td class="pb-0" th:text="${receiverOrg}" style="text-align: center"></td>
                            <td style="width: 20px"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="footer-label pt-0">предприятие</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="pb-0" th:text="${receiverNameFooter}" style="text-align: center"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="footer-label pt-0">подпись</td>
                            <td></td>
                            <td class="footer-label pt-0">И.О. Фамилия</td>
                        </tr>
                        </tbody>
                    </table>
                    <p><small>*) заполняют при отказе поточного преобразователя плотности</small></p>
                </div>
            </div>
        </div>
        </body>
    </div>
</div>
</body>
</html>