<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header"></head>
<head>
    <script type="text/javascript" th:src="@{/js/KmhViscometer-report-page.js}"></script>

    <!--  sweetAlert library-->
    <script th:src="@{/external_libraries/sweetalert/sweetalert2.min.js}"></script>
    <link th:href="@{/external_libraries/sweetalert/sweetalert2.min.css}" rel="stylesheet">
</head>
<body>
<div class="card">
    <div th:if="${printSaveButtonsRequired}">
        <div class="card-header" th:replace="fragments/print-save-buttons"></div>
    </div>
    <div class="card-body overflow-auto" id="report-content">
        <head th:replace="fragments/header"></head>
        <head>
            <style>
                @media print {
                    thead {
                        display: table-row-group;
                    }
                }

                .report-body p {
                    font-size: 0.8rem;
                }

                .report-body td {
                    width: auto;
                    padding: 0.1rem;
                    text-align: center;
                    overflow: hidden;
                }

                .report-body tr {
                    white-space: nowrap;
                    height: 2px;
                }

                .report-body table {
                    font-size: 0.8rem;
                }

                .report-body caption {
                    font-size: small;
                    padding-bottom: 5px;
                    caption-side: top;
                    text-align: left;
                }

                .footer-table {
                    padding-right: 1rem;
                    white-space: break-spaces;
                    border-collapse: separate;
                    border-spacing: 0;
                }

                .footer-label {
                    border-top: 1px solid #000;
                    text-align: center;
                    font-size: 0.5rem;
                    padding-top: 0 !important;
                }
            </style>
        </head>
        <div class="container report-body">
            <div class="row">
                <div class="col-sm-12">
                    <h5 style="text-align: center; padding-bottom: 3%;">ПРОТОКОЛ №<span
                            th:text="${protocolNumber}"></span></h5>
                    <h5 style="text-align: center; padding-bottom: 3%;">контроля метрологических характеристик рабочего
                        преобразователя вязкости по вискозиметру</h5>

                    <table class="table table-bordered">
                        <tr>
                            <td style="text-align: left; border-right: 0">
                                СИКН №"<span th:text="${siknNumber}"></span>
                            </td>
                            <td style="text-align: right; border-left: 0">
                                <span th:text="${place_name}"></span>
                            </td>
                        </tr>
                    </table>
                    <p>Условие контроля: |v<sub>ПВз</sub> - v<sub>ил</sub>|≤|Δv<sub>ПВз</sub> + Δv<sub>ил</sub>| (для
                        каждого измерения)</p>

                    <!-- Таблица 1-->
                    <table class="table table-bordered">
                        <caption>1. Исходные данные</caption>
                        <thead class="table-light" style="font-weight: bold">
                        <tr>
                            <td>№ пп</td>
                            <td>Данные</td>
                            <td style="text-align: center">Преобразователь вязкости</td>
                            <td style="text-align: center">Вискозиметр лабораторный</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td style="text-align: left">Тип, марка</td>
                            <td th:text="${transmitter_type} ?: '-'"></td>
                            <td th:text="${viscometer_type} ?: '-'"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td style="text-align: left">Заводской №</td>
                            <td th:text="${transmitter_number} ?: '-'"></td>
                            <td th:text="${viscometer_number} ?: '-'"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td style="text-align: left">Дата последней поверки</td>
                            <td th:text="${transmitter_date} ?: '-'"></td>
                            <td th:text="${viscometer_date} ?: '-'"></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td style="text-align: left">Предел допустимой абсолютной погрешности<br>
                                определения значения кинематической вязкости<br>
                                нефти в БИК, Δν<sub>ПВз</sub>, мм<sup>2</sup>/с (сСт)
                            </td>
                            <td colspan="2" th:text="${delta_v_PVz} ?: '-'"></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td style="text-align: left">Погрешность метода измерения вязкости нефти<br>
                                по испытательной лаборатории, Δν<sub>ил</sub>, мм<sup>2</sup>/с (сСт)
                            </td>
                            <td colspan="2" th:text="${delta_v_il} ?: '-'"></td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- Таблица 2-->
                    <table class="table table-bordered">
                        <caption>2. Результаты измерений и контроля</caption>
                        <thead class="table-light" style="font-weight: bold">
                        <tr>
                            <td rowspan="2">№ изм</td>
                            <td colspan="2">Параметры нефти</td>
                            <td colspan="4">Вязкость нефти</td>
                        </tr>
                        <tr>
                            <td>t<sub>бик</sub> , °C</td>
                            <td>ρ<sub>бик</sub> , кг/м<sup>3</sup></td>
                            <td>η<sub>ПВз</sub> , мПа∙с (сПз)</td>
                            <td>v<sub>ПВз</sub> ,<br>мм<sup>2</sup>/с (сСт)</td>
                            <td>v<sub>ил</sub> ,<br>мм<sup>2</sup>/с (сСт)</td>
                            <td>|Δv<sub>ПВз</sub> + Δv<sub>ил</sub>| ,<br>мм<sup>2</sup>/с (сСт)</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="t,i : ${t_bik}">
                            <td th:text="${i.index+1}"></td>
                            <td th:text="${t_bik != null} ? ${t_bik[i.index]} : '-'"></td>
                            <td th:text="${ro_bik != null} ? ${ro_bik[i.index]}  : '-'"></td>
                            <td th:text="${eta_PVz != null} ? ${eta_PVz[i.index]}  : '-'"></td>
                            <td th:text="${v_PVz != null} ? ${v_PVz[i.index]}  : '-'"></td>
                            <td th:text="${v_il != null} ? ${v_il[i.index]}  : '-'"></td>
                            <td th:text="${v_PVz_minus_v_il != null} ? ${v_PVz_minus_v_il[i.index]}  : '-'"></td>
                        </tr>
                        </tbody>
                    </table>

                    <p>Преобразователь вязкости, зав № <span th:text="${transmitter_number}"></span> <span th:text="${conclusion}" style="font-weight:bold"></span> к дальнейшей эксплуатации</p>
                    <p class="mt-4">Дата проведения КМХ: <span th:text="${kmh_date}"></span></p>
                    <p class="mt-4">Подписи лиц, проводивших КМХ:</p>
                    <p class="mt-2">От сдающей стороны <span th:text="${deliverOrg}"></span></p>
                    <table class="mt-2 table table-borderless footer-table" style="width: 70%">
                        <tbody>
                        <tr>
                            <td class="pb-0" style="text-align: left">Инженер-метролог</td>
                            <td style="width: 100px"></td>
                            <td>/</td>
                            <td class="col-4 pb-0" th:text="${metrologistName}"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="footer-label pt-0">(подпись)</td>
                            <td></td>
                            <td class="footer-label pt-0">(Фамилия И. О.)</td>
                        </tr>
                        <tr>
                            <td class="pb-0" style="text-align: left">Инженер-химик</td>
                            <td style="width: 100px"></td>
                            <td>/</td>
                            <td class="col-4 pb-0" th:text="${chemistName}"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="footer-label pt-0">(подпись)</td>
                            <td></td>
                            <td class="footer-label pt-0">(Фамилия И. О.)</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="mt-2">От принимающей стороны <span th:text="${receiverOrg}"></span></p>
                    <table class="mt-2 table table-borderless footer-table" style="width: 70%">
                        <tbody>
                        <tr>
                            <td class="col-4 pb-0" style="text-align: left" th:text="${receiverPosition}"></td>
                            <td style="width: 100px"></td>
                            <td>/</td>
                            <td class="col-4 pb-0" th:text="${receiverName}"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="footer-label pt-0">(подпись)</td>
                            <td></td>
                            <td class="footer-label pt-0">(Фамилия И. О.)</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="mt-2">От сервисной организации <span th:text="${serviceOrg}"></span></p>
                    <table class="mt-2 table table-borderless footer-table" style="width: 70%">
                        <tbody>
                        <tr>
                            <td class="col-4 pb-0" style="text-align: left" th:text="${servicePosition}"></td>
                            <td style="width: 100px"></td>
                            <td>/</td>
                            <td class="col-4 pb-0" th:text="${serviceName}"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="footer-label pt-0">(подпись)</td>
                            <td></td>
                            <td class="footer-label pt-0">(Фамилия И. О.)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>