<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header"></head>
<head>
  <title>Редактор тегов</title>
  <script th:src="@{/external_libraries/zinggrid.min.js}"></script>
  <link th:href="@{/css/zinggrid.css}" rel="stylesheet" />
  <style>
    .main-container {
      margin-top: 5rem;
    }
  </style>
</head>
<body>
<nav th:replace="fragments/nav"></nav>

<div class="main-container container">
  <div class="row justify-content-start">
    <div id="tag-names">
      <zing-grid caption="Теги поверок" src="/api/calcTagNames/" lang="ru" editor-controls="editor"
                 columns-control search sort>
        <zg-column editor=false index="permanentName" header="Закрепленное название в коде"></zg-column>
        <zg-column index="name" header="Название"></zg-column>
        <zg-column index="description" header="Описание"></zg-column>
        <zg-column editor=false index="calcMethod" header="Метод"></zg-column>
      </zing-grid>
    </div>
  </div>
</div>

</body>
</html>