<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header"></head>
<head>
    <title>Редактор тегов</title>
    <script th:src="@{/external_libraries/zinggrid.min.js}" defer></script>
    <link th:href="@{/css/zinggrid.css}" rel="stylesheet"/>
    <style>
        .main-container {
            margin-top: 5rem;
        }
    </style>
</head>
<body>
<nav th:replace="fragments/nav"></nav>
<div class="main-container container">
    <div class="row justify-content-start">
        <div id="tags">
            <zing-grid caption="Теги для поверок, актов, кмх (таблица manual_reports.tag)" lang="ru" editor-controls="editor"
                       columns-control search sort status-persist compact>
                <zg-data src="/api/manualTags/">
                    <zg-param name="serverErrorMessage" value="Server Error: [[serverMessage]]"></zg-param>
                </zg-data>
                <zg-column editor=false index="permanentName" header="Закрепленное название в коде"
                           width="25%"></zg-column>
                <zg-column index="address" header="Адрес" width="20%"></zg-column>
                <zg-column index="description" header="Описание" width="20%"></zg-column>
                <zg-column editor=false index="reportType" header="Тип отчета" width="10%"></zg-column>
                <zg-column editor=false index="initial" header="Исходные данные?" width="20%"></zg-column>
            </zing-grid>
        </div>
    </div>
</div>
</body>
</html>