<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/header">
</head>
<head>
    <meta charset="UTF-8">
    <title>Редактор узлов учета</title>
    <script th:src="@{/external_libraries/zinggrid.min.js}" defer></script>
    <link th:href="@{/css/zinggrid.css}" rel="stylesheet"/>
    <style>
        .card {
            --bs-card-spacer-y: 0;
        }

        .main-container {
            margin-top: 5rem !important;
        }
    </style>
</head>
<body>
<nav th:replace="fragments/nav"></nav>
<div class="main-container container">
    <div class="col-md-12">
        <div class="card my-4 border-0">
            <zing-grid frozen-columns-left caption="Узлы учета (таблица scheduled_reports.metering_node)"
                       lang="ru" editor-controls="creator remover" editor columns-control status-persist column-resizable>
                <zg-data src="/api/meteringNodes/">
                    <zg-param name="serverErrorMessage" value="Server Error: [[serverMessage]]"></zg-param>
                </zg-data>
                <zg-column index="id" header="ID"></zg-column>
                <zg-column index="name" header="Название"></zg-column>
            </zing-grid>
        </div>
    </div>
</div>
</body>
</html>